
#imal {width: 50%;
}
#imal {margin-left: 25%;
}
#imal {border-width: 5px; border-color: brown;
border-style: double;}
h1 {color: blueviolet;
border-style: groove;}
h2 {color: blue;
border-style: groove;}
h4 {text-align: center;}